/*
    1. Header
    2. Login page
    3. Alerts
    4. Marketplace
    5. House Add Page
    6. Helpers
*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #231F20;
    color: #FFF;
    overflow-x: hidden;
    overflow-y: auto;
}



/* 1. Header */

#navbar-p{ margin: 0 0 0 0; }

#login-btn{ border-color: #FF8C00; }

#login-btn:hover{ background-color: #FF8C00; }



/* 2. Login page */
.btn.text-uppercase{ background-color: #F1F2F2; }

.btn.text-uppercase:hover{ background-color: #FF8C00; }

.login-form{ margin-top: 10vh; }


/* 3. Alerts */
#pop {
    color: #000;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 16px;
	visibility: hidden;
}

#pop-frame {
    position: relative;
    width: 100%;
    max-width: 480px;
    padding: 32px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 32px 72px 16px #000;
}

#pop-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pop-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#pop-close-img  {
    width: 24px;
    height: 24px;
}

.ann-form{
    flex-basis: 45%;
}
.ann-check{
    flex-basis: 50%;
}

.list-group{
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}

.trash:hover{
    color: #FF0000;
}

.trash{
    position: absolute;
    top: 15px;
    right: 5%;
    color: #6f6f6f;
}

.tools:hover{
    color: #FF8C00;
}

.tools{
    position: absolute;
    top: 15px;
    right: 8%;
}


/* 4. Marketplace */
.marketplace-form{
    margin-top: 7vh;
}

/* 5. House Add Page */
.check-house-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.house-form{
    flex-basis: 35%;
}
.house-check{
    flex-basis: 40%;
}


/* 6. Helpers */
.container{
    margin-top: 7vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 1000px){
    .container{
        flex-direction: row;
    }
}
