/*
    1. Header
    2. Login page
    3. Alerts
    4. Marketplace
    5. Helpers
*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #231F20;
    color: #FFF;
    overflow-x: hidden;
    overflow-y: auto;
}



/* 1. Header */

#navbar-p{ margin: 0 0 0 0; }

#login-btn{ border-color: #FF8C00; }

#login-btn:hover{ background-color: #FF8C00; }



/* 2. Login page */
.btn.text-uppercase{ background-color: #F1F2F2; }

.btn.text-uppercase:hover{ background-color: #FF8C00; }

.login-form{ margin-top: 10vh; }



/* 3. Alerts */
.announcement-form{
    grid-column: 1 / 2;
    margin-top: 7vh;
}

.check-announcements{
    grid-column: 2 / 10;
    margin-top: 12vh;
}

.list-group{
    height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.trash:hover{
    color: #FF0000;
}

.trash{
    position: absolute;
    top: 15px;
    right: 5%;
    color: #6f6f6f;
}

.tools:hover{
    color: #FF8C00;
}
.tools{
    position: absolute;
    top: 15px;
    right: 8%;
}


/* 4. Marketplace */
.marketplace-form{
    grid-column: 1 / 2;
    margin-top: 10vh;
}



/* 5. Helpers */
.wrapper{
    display: grid;
    grid-template-column: repeat(10, 1fr);
}

.black-25pt{ color: #000; font-size: 25pt; }