{% extends "base.html" %}

{% block content %}
    <div class="wrapper">
        <div class="alerts-form d-flex">
            <form class="alerts-form" action="" method="post">

                {{ form.hidden_tag() }}
                {{ form.csrf_token }}

                <div class="form-group">
                   {{ form.alert_type.label }}
                   {{ form.alert_type(class="form-control-lg form-control") }}
                </div>
                <div class="form-group">
                    {{ form.date.label }}
                    {{ form.date(class="datepicker form-control-lg form-control") }}
                </div>
                <div class="form-group">
                    {{ form.houses.label }}
                    {{ form.houses(size=10, multiple=True, class="form-control-lg form-control") }}
                </div>
                <p style="color: orange;"> {{ message }} </p>

                {{ form.submit(type="submit", class="btn mt-3 rounded-pill btn-lg btn-custom btn-block text-uppercase") }}
           </form>
        </div>
        <div class="check-alert">
            <h1 class="black-25pt" align="center"> Макет препросмотра: </h1>
        </div>
    </div>

{% endblock %}