{% extends "base.html" %}
{% set active_page = 1 %}

{% block content %}
    <div class="container">
        <div class="ann-form d-flex">
            <form action="" method="post" id="announcement-form">

                {{ ann_form.hidden_tag() }}
                {{ ann_form.csrf_token }}

                <div class="form-group">
                   {{ ann_form.announcement_category.label }}
                   {{ ann_form.announcement_category(class="form-control-lg form-control") }}
                </div>

                <div class="form-group">
                    {{ ann_form.title.label }}
                    {{ ann_form.title(class="form-control-lg form-control") }}
                </div>

                {{ ann_form.post_date.label }}
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            {{ ann_form.post_date(class="datepicker form-control-lg form-control") }}
                        </div>
                        <div class="col">
                            {{ ann_form.post_time(class="form-control-lg form-control") }}
                        </div>
                    </div>
                </div>

                {{ ann_form.death_date.label }}
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            {{ ann_form.death_date(class="datepicker form-control-lg form-control") }}
                        </div>
                        <div class="col">
                            {{ ann_form.death_time(class="form-control-lg form-control") }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            {{ ann_form.houses_available.label }}
                            {{ ann_form.houses_available(size=4, multiple=False, class="form-control-lg form-control") }}
                        </div>
                        <div class="col">
                            {{ ann_form.houses_assigned.label }}
                            {{ ann_form.houses_assigned(size=4, multiple=True, class="form-control-lg form-control") }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ ann_form.body.label }}
                    {{ ann_form.body(class="form-control-lg form-control", cols="15", rows="4") }}
                </div>

                <p style="color: orange;"> {{ message }} </p>

                {{ ann_form.submit(type="submit", class="btn mt-3 rounded-pill btn-lg btn-custom btn-block text-uppercase") }}
           </form>
        </div>

        <div class="ann-check">
            <h2 align="center"> Оповещения на сервере: </h2>
            <div class="list-group">
                {% for elem in announcements %}
                    <div class="list-group-item list-group-item-action" onclick="elem_expand('elem_{{ elem.id }}')">
                        <a href="/announcement/{{ elem.id }}"> <i class="fas fa-trash trash"></i> </a>
                        <a> <i class="fas fa-tools tools"></i> </a>
                        <b> ID: </b> {{ elem.id }}
                        <b> Заголовок: </b> {{ elem.title[:50] }}
                        <div id="elem_{{ elem.id }}" class="expandable-elem">
                            <p> <b> Описание: </b> {{ elem.body }} </p>
                            <p> <b> Категория: </b> {{ elem.category.name }} </p>
                            <p>
                                <b> Дома: </b> [
                                    {% for i in range(elem.houses | length) %}
                                        {% if loop.last %}
                                            {{ elem.houses[i] }}
                                        {% else %}
                                            {{ elem.houses[i] }},
                                        {% endif %}
                                    {% endfor %}
                                    still not declared on server
                                ]
                            </p>
                            <p> <b> Статус: </b> {{ elem.status.name }} </p>
                            <div class="time-data">
                                {{ elem.postDate | replace("T", " ") | replace("+00:00", "") }}
                                -
                                {{ elem.deathDate | replace("T", " ") | replace("+00:00", "")}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="pop">
        <div id="pop-container">
            <div id="pop-frame">
                <div id="pop-close"><img id="pop-close-img" src="{{ url_for('static', filename='img/xmark_icon.png') }}"></div>
                <form action="">
                    <h5><b> Уточните номера квартир, пожалуйста </b></h5>
                    {{ apart_form.hidden_tag() }}
                    {{ ann_form.csrf_token }}
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ apart_form.apartments_available.label }}
                                {{ apart_form.apartments_available(size=4, multiple=True, class="form-control-lg form-control") }}
                            </div>
                            <div class="col">
                                {{ apart_form.apartments_assigned.label }}
                                {{ apart_form.apartments_assigned(size=4, multiple=True, class="form-control-lg form-control") }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ apart_form.select_all() }} {{ apart_form.select_all.label }}
                    </div>

                    {{ apart_form.submit(type="submit", class="btn mt-3 rounded-pill btn-lg btn-custom btn-block text-uppercase") }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}