{% extends "base.html" %}
{% set active_page = 1 %}

{% block content %}
    <div class="container">
        <div class="ann-form d-flex">
            <form action="" method="post" id="announcement-form">

                {{ ann_form.hidden_tag() }}
                {{ ann_form.csrf_token }}

                <div class="form-group">
                   {{ ann_form.announcement_category.label }}
                   {{ ann_form.announcement_category(class="form-control-lg form-control") }}
                </div>

                <div class="form-group">
                    {{ ann_form.title.label }}
                    {{ ann_form.title(class="form-control-lg form-control") }}
                </div>

                {{ ann_form.post_date.label }}
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            {{ ann_form.post_date(class="datepicker form-control-lg form-control") }}
                        </div>
                        <div class="col">
                            {{ ann_form.post_time(class="form-control-lg form-control") }}
                        </div>
                    </div>
                </div>

                {{ ann_form.death_date.label }}
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            {{ ann_form.death_date(class="datepicker form-control-lg form-control") }}
                        </div>
                        <div class="col">
                            {{ ann_form.death_time(class="form-control-lg form-control") }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            {{ ann_form.houses_available.label }}
                            {{ ann_form.houses_available(size=4, multiple=False, class="form-control-lg form-control") }}
                        </div>
                        <div class="col">
                            {{ ann_form.houses_assigned.label }}
                            {{ ann_form.houses_assigned(size=4, multiple=True, class="form-control-lg form-control") }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ ann_form.body.label }}
                    {{ ann_form.body(class="form-control-lg form-control", cols="15", rows="4") }}
                </div>

                <p style="color: orange;"> {{ message }} </p>

                {{ ann_form.submit(type="submit", class="btn mt-3 rounded-pill btn-lg btn-custom btn-block text-uppercase") }}
           </form>
        </div>

        <div class="ann-check">
            <h2 align="center"> Оповещения на сервере: </h2>
            <div class="list-group">
                {% for elem in announcements %}
                    <div class="list-group-item list-group-item-action" >
                        <a href="/del_announcement/{{ elem.id }}"> <i class="fas fa-trash trash"></i> </a>
                        <a> <i class="fas fa-tools tools"></i> </a>

                        <div onclick="elem_expand('elem_{{ elem.id }}')">
                            <div class="ann-fv-container">
                                <div class="ann-f-el">
                                    <b> ID: </b> <br>
                                    <b> Заголовок: </b> <br>
                                </div>
                                <div class="ann-v-el">
                                    {{ elem.id }} <br>
                                    {{ elem.title[:50] }} <br>
                                </div>
                            </div>
                        </div>

                        <div id="elem_{{ elem.id }}" class="expandable-elem" onclick="elem_expand('elem_{{ elem.id }}')">
                            <div class="ann-fv-container">
                                <div class="ann-f-el">
                                    <b> Описание: </b> <br>
                                    <b> Категория: </b> <br>
                                    <b> Дома: </b> <br>
                                    <b> Статус: </b> <br>
                                    <b> Дата: </b> <br>
                                </div>

                                <div class="ann-v-el">
                                    {{ elem.body }} <br>
                                    {% if category in elem %} {{ elem.category.name }} {% else %} Server diff response {% endif %} <br>

                                    [
                                        {% for i in range(elem.houses | length) %}
                                            {% if loop.last %}
                                                {{ elem.houses[i] }}
                                            {% else %}
                                                {{ elem.houses[i] }},
                                            {% endif %}
                                        {% endfor %}
                                        still not declared on server
                                    ] <br>

                                    {% if status in elem %} {{ elem.status.name }} {% else %} Server diff response {% endif %} <br>
                                    <div class="time-data">
                                        {{ elem.date | replace("T", " ") | replace("+00:00", "") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="pop">
        <div id="pop-container">
            <div id="pop-frame">
                <div id="pop-close"><img id="pop-close-img" src="{{ url_for('static', filename='img/xmark_icon.png') }}"></div>
                <form action="">
                    <h5><b> Уточните номера квартир, пожалуйста </b></h5>
                    {{ apart_form.hidden_tag() }}
                    {{ ann_form.csrf_token }}
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ apart_form.apartments_available.label }}
                                {{ apart_form.apartments_available(size=4, multiple=True, class="form-control-lg form-control") }}
                            </div>
                            <div class="col">
                                {{ apart_form.apartments_assigned.label }}
                                {{ apart_form.apartments_assigned(size=4, multiple=True, class="form-control-lg form-control") }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ apart_form.select_all() }} {{ apart_form.select_all.label }}
                    </div>

                    {{ apart_form.submit(type="submit", class="btn mt-3 rounded-pill btn-lg btn-custom btn-block text-uppercase") }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}