{% extends "base.html" %}
{% set active_page = 4 %}

{% block content %}
    <div class="container">
        <div class="house-form d-flex">
            <form action="" method="post">

                {{ form.hidden_tag() }}
                {{ form.csrf_token }}

                <div class="form-group">
                    {{ form.city.label }}
                    {{ form.city(class="form-control-lg form-control") }}
                </div>

                <div class="form-group">
                    {{ form.area.label }}
                    {{ form.area(class="form-control-lg form-control") }}
                </div>
                <div class="form-group">
                    {{ form.street.label }}
                    {{ form.street(class="form-control-lg form-control", cols="15", rows="4") }}
                </div>
                <div class="form-group">
                    {{ form.houseNumber.label }}
                    {{ form.houseNumber(class="form-control-lg form-control") }}
                </div>
                <p style="color: orange;"> {{ message }} </p>

                {{ form.submit(type="submit", class="btn mt-3 rounded-pill btn-lg btn-custom btn-block text-uppercase") }}
           </form>
        </div>
        <div class="house-check">

            <h2 align="center"> Список домов: </h2>
            <div class="list-group">
                {% for elem in houses %}
                    <div class="list-group-item list-group-item-action check-house-container">
                        <div> <b> ID: </b> {{ elem.id }} </div>
                        <div> <b> Город: </b> {{ elem.city }} </div>
                        <div> <b> Район: </b> {{ elem.area }} </div>
                        <div> <b> Улица: </b> {{ elem.street }} </div>
                        <div> <b> Номер дома: </b> {{ elem.houseNumber }} </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}